.pong,
.pong * {
	position: absolute;
}

.pong {
	bottom: 0;
	box-shadow: 0 0 0 8px #666;
	height: 1080px;
	left: 0;
	margin: auto;
	right: 0;
	top: 0;
	width: 1920px;
}

/* --- */

.paddle {
	background: #fff;
	height: 240px;
	left: 0;
	top: 0;
	width: 60px;
}

.paddle-player { 
	background: hsl(130, 100%, 60%);
}

.paddle-enemy {
	background: hsl(200, 100%, 60%);
}

/* --- */

.score {
	color: white;
	font: bold 6em/1 'Roboto Mono', monospace;
	top: 80px;
}

.score-player {
	color: hsl(130, 100%, 60%);
	left: 180px;
}

.score-enemy {
	color: hsl(200, 100%, 60%);
	right: 180px;
}

/* --- */

.net {
	background: #666;
	height: 100%;
	left: 50%;
	margin-left: -2px;
	top: 0;
	width: 4px;
}

.ball {
	background: #fff;
	height: 60px;
	left: 0;
	top: 0;
	width: 60px;
}