.aabb-grid {
	display: flex;
}

.aabb-rect-col {
	/*box-shadow: 0 0 0 3px #333;*/
	height: 40em;
	position: relative;
	width: 40em;
}

.aabb-rect-wrap {
	height: 10em;
	left: 50%;
	margin: -5em 0 0 -5em;
	position: absolute;
	top: 50%;
	width: 10em;
}

.aabb-rect {
	align-items: center;
	border-style: solid;
	border-width: 8px;
	display: flex;
	font-size: 2em;
	font-weight: 900;
	justify-content: center;
	height: 100%;
	line-height: 1;
	position: absolute;
	text-align: center;
	width: 100%;
}

.aabb-rect .subdued {
	color: #fff;
	margin: 0 0.5rem;
}

.aabb-rect-1 {
	/*animation: rect-highlight 10000ms infinite;*/
	/*opacity: 0.05;*/
	/*transform: scale( 0.75 );*/
}

@keyframes rect-highlight {
	3%,
	25% {
		opacity: 1;
		transform: scale( 1 );
	}
	28%,
	100% {
		opacity: 0.05;
		transform: scale( 0.75 );
	}
}

.aabb-rect-1-a {
	animation-delay: 0ms;
	border-color: hsl(130, 100%, 60%);
	color: hsl(130, 100%, 60%);
	left: 0;
	top: -140%;
}

.aabb-rect-1-b {
	animation-delay: 2500ms;
	border-color: hsl(200, 100%, 60%);
	color: hsl(200, 100%, 60%);
	left: 140%;
	top: 0;
}

.aabb-rect-1-c {
	animation-delay: 5000ms;
	border-color: hsl(330, 100%, 60%);
	color: hsl(330, 100%, 60%);
	left: 0;
	top: 140%;
}

.aabb-rect-1-d {
	animation-delay: 7500ms;
	border-color: hsl(40, 100%, 60%);
	color: hsl(40, 100%, 60%);
	left: -140%;
	top: 0;
}

.aabb-rect-2 {
	background: #fff;
	color: #222;
	border: none;
}

.aabb-condition-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 8rem;
}

.aabb-condition {
	/*animation: condition-highlight 10000ms infinite;*/
	font-size: 4.5em;
	margin: 0 0 2rem;
	/*opacity: 0.1;*/
	/*transform: scale( 0.75 );*/
	transform-origin: 0% 50%;
	white-space: nowrap;
}

.aabb-r2 {
	background: #fff;
	color: #222;
	display: inline-block;
	font-weight: 900;
	padding: 0 0.25em;
}

.aabb-condition-a { animation-delay: 0ms; }
.aabb-condition-b { animation-delay: 2500ms; }
.aabb-condition-c { animation-delay: 5000ms; }
.aabb-condition-d { animation-delay: 7500ms; }

.aabb-condition-a strong { color: hsl(130, 100%, 60%); }
.aabb-condition-b strong { color: hsl(200, 100%, 60%); }
.aabb-condition-c strong { color: hsl(330, 100%, 60%); }
.aabb-condition-d strong { color: hsl(40, 100%, 60%); }

@keyframes condition-highlight {
	3%,
	25% {
		opacity: 1;
		transform: scale( 1);
	}
	28%,
	100% {
		opacity: 0.1;
		transform: scale( 0.75 );
	}
}

