.bounce-normal,
.bounce-variable {
	float: left;
	margin-bottom: 7rem;
	width: 50%;
}

.bounce-normal {
}

.bounce-variable {
}

.bounce-title {
	margin: 0 0 12rem;
}

.bounce-paddle {
	background: #fff;
	width: 60px;
	height: 240px;
	position: relative;
}

.bounce-paddle-normal {
	background: hsl(130, 100%, 60%);
}

.bounce-paddle-variable {
	background: hsl(200, 100%, 60%);
}

.bounce-line {
	background: #fff;
	height: 4px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	transform-origin: 0% 50%;
	width: 165px;
	z-index: -1;
}

.bounce-line:after {
	border: 16px solid transparent;
	border-left-color: #fff;
	border-right: none;
	content: '';
	left: 100%;
	margin-top: -16px;
	position: absolute;
	top: 50%;
}

.bounce-line-normal {
	left: 100%;
	margin-left: -1px;
}

.bounce-line-top {
	transform: rotate( -45deg );
}

.bounce-line-bot {
	transform: rotate( 45deg );
}

.bounce-line-variable {
	left: 50px;
}

.bounce-line-variable:nth-child( 1 ) { transform: translateY( -60px ) rotate( -60deg ); }
.bounce-line-variable:nth-child( 2 ) { transform: translateY( -40px ) rotate( -40deg ); }
.bounce-line-variable:nth-child( 3 ) { transform: translateY( -20px ) rotate( -20deg ); }
.bounce-line-variable:nth-child( 4 ) { transform: translateY( 0 ) rotate( 0deg ); }
.bounce-line-variable:nth-child( 5 ) { transform: translateY( 20px ) rotate( 20deg ); }
.bounce-line-variable:nth-child( 6 ) { transform: translateY( 40px ) rotate( 40deg ); }
.bounce-line-variable:nth-child( 7 ) { transform: translateY( 60px ) rotate( 60deg ); }