.deck-title {
	color: rgba(255, 255, 255, 0.2);
	font-family: $font-lato;
	font-size: 1em;
	left: 30px;
	line-height: 1.3;
	position: absolute;
	top: 25px;
	z-index: 50;
	strong {
		font-weight: 900;
	}
}