.dirs {
	bottom: 30px;
	height: 40px;
	position: absolute;
	left: 30px;
	width: 40px;
}

.dir {
	background: rgba(255, 255, 255, 0.1);
	height: 30%;
	//opacity: 0.25;
	position: absolute;
	transform: rotate( 45deg );
	transition-duration: 600ms;
	transition-property: background, box-shadow, transform;
	transition-timing-function: $easeOutExpo;
	width: 30%;
	&.is-active {
		//background: map-get( $colors, primary );
		//opacity: 1;
		background: rgba(255, 255, 255, 1);
		transition-duration: 0ms;
	}
	&.dir-up,
	&.dir-down {
		left: 35%;
	}
	&.dir-right,
	&.dir-left {
		top: 35%;
	}
	&.dir-up {
		top: 0;
		&.is-active {
			transform: translateY( -50% ) scale( 0.75, 1.25 ) rotate( 45deg );
		}
	}
	&.dir-right {
		right: 0;
		&.is-active {
			transform: translateX( 50% ) scale( 1.25, 0.75 ) rotate( 45deg );
		}
	}
	&.dir-down {
		bottom: 0;
		&.is-active {
			transform: translateY( 50% ) scale( 0.75, 1.25 ) rotate( 45deg );
		}
	}
	&.dir-left {
		left: 0;
		&.is-active {
			transform: translateX( -50% ) scale( 1.25, 0.75 ) rotate( 45deg );
		}
	}
	&.dir-center {
		background: none;
		border: none;
		border: 3px solid map-get( $colors, slide-bg );
		bottom: 0;
		display: none;
		height: 60%;
		left: 0;
		margin: auto;
		opacity: 1;
		right: 0;
		top: 0;
		transform: rotate( 45deg );
		width: 60%;
	}
}