/*==============================================================================

Game

==============================================================================*/

html {
	/*&:after {
		background: linear-gradient( hsla(0, 0%, 0%, 0.25) 50%, transparent 50% );
		background-size: 100% 4px;
		bottom: 0;
		content: '';
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 999;
	}*/
}

.g-pong,
.g-pong * {
	pointer-events: none;
	position: absolute;
}

.g-pong {
	bottom: 0;
	box-shadow: 0 0 0 8px #444;
	height: 1080px;
	left: 0;
	margin: auto;
	right: 0;
	top: 0;
	transform-style: preserve-3d;
	width: 1920px;
	will-change: transform;
}

.g-pong:before {
	/*background: linear-gradient( hsla( 0, 0%, 100%, 0 ), hsla( 0, 0%, 100%, 0.05 ) );*/
	/*background: linear-gradient( 90deg, hsla( 0, 0%, 100%, 0 ), hsla( 0, 0%, 100%, 0.05 ) );*/
	background: linear-gradient( 90deg, hsla( 0, 0%, 100%, 0 ), #333, hsla( 0, 0%, 100%, 0 ) );
	/*border-top: 4px solid #222;*/
	content: '';
	left: 0;
	margin-top: -2px;
	right: 0;
	position: absolute;
	top: 33.333%;
	height: 50%;
	height: 4px;
}

.g-pong:after {
	/*background: linear-gradient( hsla( 0, 0%, 100%, 0 ), hsla( 0, 0%, 100%, 0.05 ) );*/
	/*background: linear-gradient( 90deg, hsla( 0, 0%, 100%, 0 ), hsla( 0, 0%, 100%, 0.05 ) );*/
	background: linear-gradient( 90deg, hsla( 0, 0%, 100%, 0 ), #333, hsla( 0, 0%, 100%, 0 ) );
	/*border-top: 4px solid #222;*/
	content: '';
	left: 0;
	margin-top: -2px;
	right: 0;
	position: absolute;
	top: 66.666%;
	height: 50%;
	height: 4px;
}

/*==============================================================================

Overlays

==============================================================================*/

.g-overlay {
	background: #fff;
	bottom: 0;
	left: 0;
	opacity: 0;
	right: 0;
	top: 0;
	transform: translateZ( 1px ) scale( 1 );
	transition-duration: 500ms;
	transition-property: opacity, transform;
	z-index: 100;
	&.flash {
		opacity: 0.35;
		transform: translateZ( 1px ) scale( 1 );
		transition-duration: 0ms;
	}
}

/*==============================================================================

Edges

==============================================================================*/

.g-edge {
	background: #fff;
	opacity: 0;
	transition-duration: 2500ms;
	transition-property: opacity, transform;
	transition-timing-function: $easeOutExpo;
	&.hit {
		opacity: 1;
		transition-duration: 0ms;
	}
}

.g-edge-top {
	height: 8px;
	left: -8px;
	right: -8px;
	top: -8px;
	transform: scaleY(0) translateZ(1px);
	//transform-origin: 50% 0%;
	&.hit {
		transform: scaleY(2) translateZ(1px);
	}
}

.g-edge-right {
	bottom: -8px;
	right: -8px;
	top: -8px;
	transform: scaleX(0) translateZ(1px);
	//transform-origin: 100% 50%;
	width: 8px;
	&.hit {
		transform: scaleX(2) translateZ(1px);
	}
}

.g-edge-bot {
	bottom: -8px;
	height: 8px;
	left: -8px;
	right: -8px;
	transform: scaleY(0) translateZ(1px);
	//transform-origin: 50% 100%;
	&.hit {
		transform: scaleY(2) translateZ(1px);
	}
}

.g-edge-left {
	bottom: -8px;
	left: -8px;
	top: -8px;
	transform: scaleX(0) translateZ(1px);
	//transform-origin: 0% 50%;
	width: 8px;
	&.hit {
		transform: scaleX(2) translateZ(1px);
	}
}

/*==============================================================================

Charge

==============================================================================*/

.g-charge {
	background: linear-gradient( 90deg, hsla( 130, 100%, 60%, 0), hsla( 130, 100%, 60%, 0.25) );
	bottom: 0;
	box-shadow: inset -8px 0 0 hsla( 130, 75%, 60%, 1);
	left: 0;
	top: 0;
	transform-origin: 0% 50%;
	width: 260px;
}

/*==============================================================================

Paddles

==============================================================================*/

.g-paddle {
	height: 240px;
	left: 0;
	top: 0;
	transform-style: preserve-3d;
	width: 60px;
}

.g-paddle-player { 
	background: hsl(130, 100%, 60%);
}

.g-paddle-enemy {
	background: hsl(200, 100%, 60%);
}

.g-paddle-panel {
	display: none;
	position: absolute;
	transform-style: preserve-3d;
	.g-extrude & {
		display: block;
	}
}

.g-paddle-panel-flash {
	background: #fff !important;
	opacity: 0;
	transition-delay: 150ms;
	transition-duration: 100ms;
	transition-property: opacity;
	.hit & {
		opacity: 1;
		transition-delay: 0ms;
		transition-duration: 0ms;
	}
}

.g-paddle-panel:after {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.g-paddle-panel-top {
	background: inherit;
	bottom: 100%;
	height: 60px;
	left: 0;
	transform: rotateX(90deg);
	transform-origin: 50% 100%;
	width: 60px;
}

.g-paddle-panel-top:after {
	background: hsla(0, 0%, 100%, 0.2);
}

.g-paddle-panel-bot {
	background: inherit;
	height: 60px;
	left: 0;
	top: 100%;
	transform: rotateX(-90deg);
	transform-origin: 50% 0%;
	width: 60px;
}

.g-paddle-panel-bot:after {
	background: hsla(0, 0%, 0%, 0.6);
}

.g-paddle-panel-side {
	background: inherit;
	height: 240px;
	top: 0;
	width: 60px;
}

.g-paddle-panel-side:after {
	background: hsla(0, 0%, 0%, 0.3);
}

	.g-paddle-player .g-paddle-panel-side {
		left: 100%;
		transform: rotateY(90deg);
		transform-origin: 0% 50%;
	}

	.g-paddle-enemy .g-paddle-panel-side {
		right: 100%;
		transform: rotateY(-90deg);
		transform-origin: 100% 50%;
	}

.g-paddle-panel-front {
	background: inherit;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	transform: translateZ( 1px );
}

/*==============================================================================

Score

==============================================================================*/

.g-score {
	color: #fff;
	font: bold 6em/1 'robotomonowf', monospace;
	top: 80px;
	transform-style: preserve-3d;
	transition-duration: 3000ms;
	transition-property: color;
	transition-timing-function: $easeOutExpo;
	&.scored {
		color: #fff !important;
		transition-duration: 0ms;
	}
	.g-extrude & {
		transform: translateZ(120px);
	}
}

.g-score-text {
	position: static;
}

.g-score:after {
	color: transparent;
	content: attr(data-score);
	display: none;
	left: 0;
	position: absolute;
	text-shadow: 0 0 10px hsla(0, 0%, 0%, 0.35);
	top: 0;
	transform: translateZ(-120px);
	.g-extrude & {
		display: block;
		transform: translateZ(120px);
	}
}

.g-score-bullets {
	left: 160%;
	position: absolute;
	top: 19px;
	.g-score-enemy & {
		left: auto;
		right: 160%;
	}
}

.g-score-bullet {
	background: #fff;
	height: 8px;
	margin-bottom: 6px;
	opacity: 0.25;
	position: static;
	transition-duration: 400ms;
	transition-property: opacity, transform;
	width: 8px;
	&:last-child {
		margin-bottom: 0;
	}
	.g-score-player & {
		background: hsl(130, 100%, 60%);
		transform-origin: 0% 50%;
	}
	.g-score-enemy & {
		background:  hsl(200, 100%, 60%);
		transform-origin: 100% 50%;
	}
}

.g-score[data-score="1"] .g-score-bullet:nth-child( 5 ),
.g-score[data-score="2"] .g-score-bullet:nth-child( 5 ),
.g-score[data-score="3"] .g-score-bullet:nth-child( 5 ),
.g-score[data-score="4"] .g-score-bullet:nth-child( 5 ),
.g-score[data-score="5"] .g-score-bullet:nth-child( 5 ),
.g-score[data-score="2"] .g-score-bullet:nth-child( 4 ),
.g-score[data-score="3"] .g-score-bullet:nth-child( 4 ),
.g-score[data-score="4"] .g-score-bullet:nth-child( 4 ),
.g-score[data-score="5"] .g-score-bullet:nth-child( 4 ),
.g-score[data-score="3"] .g-score-bullet:nth-child( 3 ),
.g-score[data-score="4"] .g-score-bullet:nth-child( 3 ),
.g-score[data-score="5"] .g-score-bullet:nth-child( 3 ),
.g-score[data-score="4"] .g-score-bullet:nth-child( 2 ),
.g-score[data-score="5"] .g-score-bullet:nth-child( 2 ),
.g-score[data-score="5"] .g-score-bullet:nth-child( 1 ) {
	opacity: 1;
	transform: scaleX( 4 );
	transition-timing-function: $easeOutBack;
}

.g-score-player {
	color: hsl(130, 100%, 60%);
	left: 790px;
}

.g-score-enemy {
	color: hsl(200, 100%, 60%);
	right: 790px;
}

/*==============================================================================

Net

==============================================================================*/

.g-net {
	background: #666;
	background: linear-gradient( 0deg, hsla( 0, 0%, 100%, 0 ), #666, hsla( 0, 0%, 100%, 0 ) );
	height: 100%;
	left: 50%;
	margin-left: -2px;
	top: 0;
	transform: translateZ( 1px );
	width: 4px;
	z-index: 1;
	backface-visibility: hidden;
}

/*==============================================================================

Ball

==============================================================================*/

.g-ball {
	background: #eee;
	height: 60px;
	left: 0;
	top: 0;
	transform-style: preserve-3d;
	width: 60px;
	z-index: 2;
	&.g-ball-ghost {
		opacity: 0;
	}
}

.g-ball-panel {
	display: none;
	position: absolute;
	.g-extrude & {
		display: block;
	}
}

.g-ball-panel:after {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.g-ball-panel-top {
	background: inherit;
	bottom: 100%;
	height: 60px;
	left: 0;
	transform: rotateX(90deg);
	transform-origin: 50% 100%;
	width: 60px;
}

.g-ball-panel-top:after {
	background: hsla(0, 0%, 100%, 1);
}

.g-ball-panel-bot {
	background: inherit;
	height: 60px;
	left: 0;
	top: 100%;
	transform: rotateX(-90deg);
	transform-origin: 50% 0%;
	width: 60px;
}

.g-ball-panel-bot:after {
	background: hsla(0, 0%, 0%, 0.6);
}

.g-ball-panel-left {
	background: inherit;
	height: 60px;
	left: 100%;
	top: 0;
	transform: rotateY(90deg);
	transform-origin: 0% 50%;
	width: 60px;
}

.g-ball-panel-left:after {
	background: hsla(0, 0%, 0%, 0.3);
}

.g-ball-panel-right {
	background: inherit;
	height: 60px;
	right: 100%;
	top: 0;
	transform: rotateY(-90deg);
	transform-origin: 100% 50%;
	width: 60px;
}

.g-ball-panel-right:after {
	background: hsla(0, 0%, 0%, 0.3);
}

.g-ball-panel-front {
	background: inherit;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;

	display: none;
}

/*==============================================================================

Particles

==============================================================================*/

.g-particle {
	height: 1px;
	left: 0;
	opacity: 0;
	top: 0;
	width: 1px;
}

/*==============================================================================

Pulse

==============================================================================*/

.g-pulse {
	border-width: 10px;
	border-style: solid;
	border: 10px solid white;
	height: 60px;
	left: 0;
	opacity: 0;
	top: 0;
	width: 60px;
}