* {
	box-sizing: border-box;
}

body {
	background: map-get( $colors, bg );
	color: map-get( $colors, primary );
	font: 400 100%/1.5 'Lato', sans-serif;
	min-height: 100vh;
	overflow: hidden;
}

.slide-wrap {
	bottom: 100px;
	left: 100px;
	position: absolute;
	right: 100px;
	top: 100px;
	&:before,
	&:after {
		border: 30px solid transparent;
		content: '';
		margin-top: -30px;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transition-duration: 300ms;
		transition-property: opacity, transform;
		transition-timing-function: $easeOutExpo;
	}
	&:before {
		border-left-width: 0;
		border-right-color: map-get( $colors, primary );
		left: 30px;
		transform: translateX( -25px ) scale( 1 );
	}
	&:after {
		border-left-color: map-get( $colors, primary );
		border-right-width: 0;
		right: 30px;
		transform: translateX( 25px ) scale( 1 );
	}
	.loading &:before,
	.loading &:after {
		transition-duration: 0ms;
	}
	.loading.prev &:before {
		opacity: 1;
		transform: translateX( 0 ) scale( 1 );
	}
	.loading.next &:after {
		opacity: 1;
		transform: translateX( 0 ) scale( 1 );
	}
}

.slide {
	background: map-get( $colors, slide-bg );
	//outline: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	height: $height;
	justify-content: center;
	left: 50%;
	margin: ( $height / -2 ) 0 0 ( $width / -2 );
	opacity: 1;
	padding: $padding;
	position: absolute;
	top: 50%;
	transition: background 300ms;
	width: $width;
	//will-change: transform;
	/*&:after {
		background: rgba(255, 255, 255, 0.1);
		bottom: 0;
		content: '';
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		transition-duration: 150ms;
		transition-property: opacity, transform;
	}
	.loading &:after {
		opacity: 1;
		transition-duration: 0ms;
	}*/
}

.slide-content {
}

h1 {
	font-size: 9em;
	font-weight: 900;
	letter-spacing: -0.015em;
	line-height: 1;
	span {
		color: map-get( $colors, accent );
	}
	em {
		color: map-get( $colors, subdued );
		font-style: italic;
		font-weight: 300;
	}
	small {
		font-size: 0.6em;
		font-weight: 600;
	}
}


canvas {
	display: none;
}