/*.wrap {
	position: absolute;
	width: 50%;
	right: 0;
	top: 0;
	height: 100%;
}*/

.pong,
.pong * {
	position: absolute;
}

.pong {
	bottom: 0;
	box-shadow: 0 0 0 2px white;
	height: 1080px;
	left: 0;
	margin: auto;
	right: 0;
	top: 0;
	width: 1920px;
}

/* --- */

.paddle {
	background: white;
	height: 240px;
	left: 0;
	top: 0;
	width: 60px;
}

.paddle-player { 
	background: dodgerblue;
}

.paddle-enemy {
	background: tomato;
}

/* --- */

.score {
	color: white;
	font: bold 6em/1 'Roboto Mono', monospace;
	top: 80px;
}

.score-player {
	color: dodgerblue;
	left: 160px;
}

.score-enemy {
	color: tomato;
	right: 160px;
}

/* --- */

.ball {
	background: white;
	height: 60px;
	left: 0;
	top: 0;
	width: 60px;
}

.net {
	border-right: 2px dashed white;
	height: 100%;
	left: 50%;
	margin-left: -1px;
	top: 0;
	width: 1px;
}